/* Right side*/

#controls{
	float: left;
	width: 250px;
}

#controls > *{
	float: left;
	margin-left:50px;
	font-size:30px;
	clear:left;
}

#pageTitle{
	font-size:50px;
}

#speakerButton{
	margin-top:50px;
	cursor:pointer;
}

#stars{
	margin-top:20px;
}
#stars img{
	vertical-align: middle;
}

/*On Stage*/

#stage{
	float:left;
}

canvas{
	cursor:default;
}

#instr{
	position:absolute;
	z-index: 100;
	border: 4px dotted orange;
	top: 50px;
	left: 200px;
	display:none;
}


#tcontrols{
	width:340px;
	height:200px;
	z-index:100;
	position:relative;
	top:500px;
	left:3px;
}

#upB{
	position:absolute;
	top:10px;
	left:128px;	
}

#downB{
	position:absolute;
	top:100px;
	left:128px;
}

#leftB{
	position:absolute;
	top:100px;
	left:28px;
}

#rightB{
	position:absolute;
	top:100px;
	left:228px;
}
